@page "/kulup"
@inject ActivityService ActivityService
@using KampusEtkinlik.Data.DTOs
@using KampusEtkinlik.Services

<div>
    <div>
        <h2>Etkinlik Oluştur</h2>

        <EditForm FormName="ActivityCreate" Model="@model" OnValidSubmit="@CreateActivity">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <ul>
                <li>
                    <label for="title"> Etkinlik Başlığı </label>
                    <br />
                    <InputText @bind-Value="model.ActivityName" />
                </li>
            </ul>
            <ul>
                <li>
                    <label for="content"> Etkinlik Açıklaması </label>
                    <br />
                    <InputText @bind-Value="model.ActivityDescription" />
                </li>
            </ul>
            <ul>
                <li>
                    <label for="title"> Etkinlik Başlangıç Tarihi </label>
                    <br />
                    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="model.StartDate" />
                </li>
            </ul>
            <ul>
                <li>
                    <label for="title"> Etkinlik Bitiş Tarihi </label>
                    <br />
                    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="model.EndDate" />
                </li>
            </ul>
            <ul>
                <li>
                    <label for="title"> Etkinlik Katılımcı Sınırı </label>
                    <br />
                    <InputNumber @bind-Value="model.ParticipantLimit" />
                </li>
            </ul>
            <ul>
                <li>
                    <label for="title"> Etkinlik Oylama Başlangıç Tarihi </label>
                    <br />
                    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="model.EvaluationStartDate" />
                </li>
            </ul>
            <ul>
                <li>
                    <label for="title"> Etkinlik Oylama Bitiş Tarihi </label>
                    <br />
                    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="model.EvaluationEndDate" />
                </li>
            </ul>
            <button type="submit" class="alert-info">
                Etkinlik Oluştur
            </button>
        </EditForm>

        @if (!string.IsNullOrEmpty(mesaj))
        {
            <p>@mesaj</p>
        }
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private ActivityCreateDto model { get; set; } = new();
    
    private string mesaj = "";

    protected override void OnInitialized()
    {
        model.StartDate = DateTime.Now;
        model.EndDate = DateTime.Now.AddDays(1);
    }

    private async Task CreateActivity()
    {
        try
        {
            var sonuc = await ActivityService.AddAsync(model);

            if (sonuc)
                mesaj = "Etkinlik başarıyla eklendi.";
            else
                mesaj = "API hatası oluştu.";
        }
        catch (Exception ex)
        {
            mesaj = $"Hata: {ex.Message}";
        }
    }
}
