@page "/"
@page "/login"
@using KampusEtkinlik.Components.Layout
@layout LoginLayout
@inject NavigationManager NavigationManager

<style>
    body {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        min-width: 100vw;
        background: linear-gradient(135deg, #c3e0ff, #f0f7ff);
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

<div class="login-container">
    <h1>SİSTEME GİRİŞ</h1>

    <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin" FormName="LoginForm">
        <div class="form-group">
            <label for="Ogrenci_No">Öğrenci Numarası</label>
            <InputText @bind-Value="loginModel.OgrenciNo" type="text" inputmode="numeric" id="Ogrenci_No" required placeholder="Okul Numaranızı Buraya Girin" />
        </div>

        <div class="form-group">
            <label for="Sifre">Şifre</label>
            <InputText @bind-Value="loginModel.Sifre" type="password" id="Sifre" required placeholder="Şifrenizi Buraya Girin" />
        </div>

        <div class="form-group">
            <button class="buton" type="submit">Giriş Yap</button>
        </div>
    </EditForm>

    @if (!string.IsNullOrEmpty(testMesaji))
    {
        <div style="color:green; background-color:white; padding:10px; margin-top:15px; border-radius:5px;">
            @testMesaji
        </div>
    }

</div>


@code {
    [SupplyParameterFromForm]
    private LoginModel loginModel { get; set; } = new();

    private string testMesaji = "";

    private void HandleLogin()
    {
        testMesaji = "Giriş yapılıyor...";

        if (loginModel.Sifre == "12345" && loginModel.OgrenciNo == "2023001")
        {
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            testMesaji = "Hatalı giriş bilgileri!";
        }
    }

    public class LoginModel
    {
        public string OgrenciNo { get; set; } = "";
        public string Sifre { get; set; } = "";
    }
}