@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject TokenService TokenService
@using KampusEtkinlik.Services

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kampus     Etkinlik</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                <span class="bi bi-home-icon" aria-hidden="true"></span> Ana Sayfa
            </NavLink>
        </div>

        @if (isClub)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/kulupyonetim">
                    <span class="bi bi-calendar-icon" aria-hidden="true"></span> Kulüp Paneli
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/takvim">
                <span class="bi bi-calendar-icon" aria-hidden="true"></span> Takvim
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/kulupler">
                <span class="bi bi-login-icon" aria-hidden="true"></span> Kulüpler
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool isClub = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var userType = await TokenService.GetUserTypeAsync();
                isClub = userType == "club";
                StateHasChanged();
            }
            catch
            {
                isClub = false;
            }
        }
    }
}
